<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cement.Properties.Settings.CementerioConnectionString"
            connectionString="Data Source=SERVIDOR\SQL2008;Initial Catalog=Cementerio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <!--<add name="Cement.Properties.Settings.CementerioConnectionString1"
            connectionString="Data Source=SERVIDOR\SQL2008;Initial Catalog=Cementerio;User ID=sa"
            providerName="System.Data.SqlClient" />-->
    </connectionStrings>
</configuration>